html {
    scroll-behavior: smooth;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit; /* ensure all elements use border-box sizing */
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

#mainContainerBackground {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#mainContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 90vh;
    z-index: 0;
    background: linear-gradient(132deg, rgba(239, 239, 239, 0.94), rgba(112, 112, 112, 0.44), rgba(176, 176, 176, 0.69), rgba(214, 214, 214, 0.84), rgba(252, 252, 252, 0.99));
    background-size: 200% 200%;
    animation: Gradient 15s ease infinite;
    border: 1px solid black;
    box-shadow: 0 4px 8px rgba(1, 1, 1, 1);
}

.nameHeader {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    opacity: 1;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    z-index: 1;
}

.nameHeader p {
    font-size: 8vw;
    font-weight: bold;
}

.nameHeader.hidden {
    opacity: 0;
    visibility: hidden;
}

.SAMUEL{
    opacity: 0;
    animation: fadeIn 1s ease forwards;
    animation-delay: 600ms;
}

.WIDLUND{
    opacity: 0;
    animation: fadeIn 1s ease forwards;
    animation-delay: 1000ms;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* responsive */
@media (max-width: 768px) {
    .nameHeader p {
        font-size: 9vw;
    }
    .SAMUEL {
        transform: rotate(90deg);
        transition: transform 0.5s ease;
    }

    .WIDLUND {
        transform: rotate(-90deg);
        transition: transform 0.5s ease;
    }
}

@media (max-width: 480px) {
    .nameHeader p {
        font-size: 9.5vw;
    }
}

#navigateContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

#navigateMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

#navigateMenu a {
    font-size: 1.5em;
    text-decoration: none;
    color: black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

#navigateMenu a:visited {
    color: black;
}

#navigateMenu a:hover {
    text-decoration: underline;
}

#taskBar {
    width: 100%;
    position: absolute;
    font-size: 1em;
    border-top: 1px solid black;
    padding-right: 1rem;
    text-align: end;
}

/* resume */
.resumeContainer {
    visibility:visible;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10vh;
    width: 90%;
    display: grid;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    background: linear-gradient(132deg, rgba(239, 239, 239, 0.94), rgba(112, 112, 112, 0.44), rgba(176, 176, 176, 0.69), rgba(214, 214, 214, 0.84), rgba(252, 252, 252, 0.99));
    background-size: 200% 200%;
    animation: Gradient 15s ease infinite;
    padding-top: 5%;
    padding-bottom: 5%;
}

.infoContainer {
    padding: 1rem;
    width: 80vw;
    display: flex;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.rowContainer {
    width: 100%;
    display: flex;
    padding: 1rem;
    box-sizing: border-box;
    display: table-column;
}

.contentContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.projectImage {
    order: 2;
    width: 40%;
    text-align: center;
}

.projectImage img {
    max-width: 100%;
    height: auto;
    border-radius: 0.5rem;
    border: 0px solid black;
    padding: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.projectDescription {
    order: 1;
    width: 40%;
    text-align: start;
}

@media (max-width: 768px) {
    .contentContainer {
        flex-direction: column;
    }

    .projectImage, .projectDescription {
        width: 100%;
        text-align: start;
    }
}

#scrollDownButton {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    margin-top: 75vh;
    width: 3rem;
    height: auto;

}

#scrollDownButton img {
    width: 100%;
    height: 100%;
    background-color: transparent;
    opacity: 0;
    animation: fadeIn 1s ease forwards;
    animation-delay: 1400ms;
}

#scrollDownButton:hover {
    cursor: pointer;
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

.shake {
    animation: shake 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}
